# 1. Stripe (Modo Prueba primero)
STRIPE_SECRET_KEY=sk_test_...

# 2. Supabase (URL del Proyecto)
SUPABASE_URL=https://...supabase.co

# 3. Supabase (Llave Maestra - Service Role Key)
SUPABASE_SERVICE_KEY=eyJ...
